.p-box-header {
  width: 100%;
  line-height: 48px;
  display: flex;
  justify-content: space-between;
  direction: rtl;
}

.box-title {
  background: var(--header-backgrround);
  display: inline-block;
  height: 48px;
  position: relative;
  padding: 0 32px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  box-shadow: 2px -15px 15px #5328a01c;

  &::after{
    content: "";
    position: absolute;
    bottom: 0;
    clip-path: polygon(61% 68%, 71% 59%, 81% 47%, 89% 33%, 95% 17%, 100% 0, 100% 100%, 0 100%, 15% 95%, 29% 89%, 39% 84%, 49% 77%);
    right: 100%;
    background-color: var(--product-details-bg);
    width: 23px;
    height: 23px;
    z-index: 2;
  }
}


.box-slider {
  padding: 8px;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
}

.product-slider-container {
  max-width: calc(100% - 32px);
  //position: relative;
  margin: auto;
  //overflow: hidden;
  //border-radius: var(--border-radius);
  //border: 1px solid #eee;

}



.product {
  min-width: 120px;
  border-radius: var(--border-radius);
  font-size: 14px;
  box-shadow: 0 0 7px 0 var(--shadow);
  color: var(--text-color);
  text-decoration: none !important;

  img {
    width: 100%;
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    height: auto !important;
  }


  p {
    width: 100%;
    word-wrap: break-word !important;
    overflow-wrap: break-word;
    overflow: hidden;
    direction: rtl;
    text-align: right;
    font-size: 13px;
    padding: 0 8px;
    margin-top: 0;
    height: 44px;
    line-height: 22px;
    overflow: hidden;
  }
}

.button-container {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none;
}

.slider-btn {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 50%;
  pointer-events: all;
}

.slider-btn:hover {
  background: rgba(0, 0, 0, 0.8);
}
