//@import "./../games/2048";
.main-slider {
  margin-top: 24px;
  @media (min-width: 1025px) {
    margin-top: 134px;
  }

  .swiper-slide {
    border-radius: 15px !important;

    img {
      max-width: 100%;
      border-radius: 12px;
    }
  }
}


.slider-swiper-pagination {
  position: absolute;
  text-align: center;
  transition: .3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10
}

.blog-slider {
  .swiper-slide {
    margin-left: 4px !important;
    margin-right: 4px !important;
  }
}


/*3d slider*/

.td-slider {
  height: 200px;
}



::slotted(*), .shadow{
  background-color:transparent !important;
}

.slider-container {
  height: 300px;
  width: 100vw;



  .shadow{
    background: transparent !important;
  }
  img {
    object-fit: cover;
    width: 200px;
    scale: 1.5;

    border-radius: var(--border-radius);
    max-width: 100%;
  }
}



/*end 3d slider*/

