.profile-dashboard-rows {
  display: flex;
  justify-content: space-between;
}

.profile-dashboard-row {
  width: calc(33% - 16px);
  line-height: 43px;
  background: transparent !important;
  height: 86px !important;
}

.profile-container {
  width: 1186px;
  margin: auto;
  max-width: calc(100% - 4px);
}
@media (min-width: 1000px) {
  .profile-container {
    max-width: calc(100% - 32px);
  }
}
.profile-container .p-breadcrumb {
  margin-right: 16px;
}
@media (max-width: 999px) {
  .profile-container .p-breadcrumb {
    margin-top: 24px;
  }
}
.profile-container .p-breadcrumb ul {
  margin: 0;
  padding: 12px;
  display: flex;
  list-style: none;
  align-items: center;
}
.profile-container .p-breadcrumb ul svg {
  position: relative;
  top: 2px;
}
.profile-container .p-breadcrumb ul li {
  margin-left: 8px;
}
.profile-container .p-breadcrumb ul a {
  color: inherit;
  border-bottom: 1px dashed var(--border-color);
  text-decoration: none;
}
.profile-container .p-nav-link.active {
  color: #0da3da;
}
.profile-container .p-nav-link.active svg {
  fill: #0da3da;
}
@media (min-width: 1000px) {
  .profile-container {
    display: flex;
    align-items: center;
  }
}
.profile-container .navigation {
  width: 100%;
  padding: 4px 0;
}
.profile-container .navigation ul {
  padding: 0;
  list-style: none;
}
.profile-container .navigation ul li {
  margin-top: 8px;
  padding: 8px;
}
.profile-container .navigation ul li a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}
.profile-container .navigation ul li a svg {
  margin-left: 8px;
  fill: var(--full-color);
}
.profile-container .content {
  padding: 8px;
  margin-top: 24px !important;
  margin-right: 16px;
}
.profile-container .profile-navigation {
  display: flex;
  margin-top: 24px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1000px) {
  .profile-container .profile-navigation {
    width: 280px;
  }
}