.p-list {
  margin-top: 16px !important;
  padding-bottom: 64px;
}

.product-row {
  text-decoration: none;
}
.product-row .product {
  margin-top: 8px;
  display: flex;
  width: 100%;
}
.product-row .product img {
  width: 64px;
  border-radius: 8px;
}
.product-row .product .title {
  height: 48px;
  width: 100%;
}
.product-row .product .price {
  padding-right: 8px;
}

@media (min-width: 600px) {
  .x-container {
    width: 570px;
    margin: auto;
  }
  .product-row {
    display: inline-block;
    width: 282px;
    padding: 0;
    border: none;
    margin: auto;
    height: auto !important;
  }
  .product-row .product {
    border: none;
    width: 100%;
    display: block;
    margin: 8px auto;
    min-width: 268px !important;
  }
  .product-row .product img {
    width: 100%;
  }
}
@media (min-width: 767px) {
  .x-container {
    width: 742px;
    margin: auto;
  }
  .product-row {
    display: inline-block;
    width: 245px;
    padding: 0;
    border: none;
    margin: auto;
    height: auto !important;
  }
  .product-row .product {
    border: none;
    width: 100%;
    display: block;
    margin: 8px auto;
    min-width: 238px !important;
  }
  .product-row .product img {
    width: 100%;
  }
}
@media (min-width: 1000px) {
  .x-container {
    width: 960px;
    margin: auto;
  }
  .product-row {
    display: inline-block;
    width: 237px;
    padding: 0;
    border: none;
    margin: auto;
    height: auto !important;
  }
  .product-row .product {
    border: none;
    width: 100%;
    display: block;
    margin: 8px auto;
    min-width: 229px !important;
  }
  .product-row .product img {
    width: 100%;
  }
}
@media (min-width: 1212px) {
  .p-list-container {
    display: flex;
  }
  .x-container {
    width: 1186px;
    margin: auto;
  }
  .product-row {
    display: inline-block;
    width: 234px;
    padding: 0;
    border: none;
    margin: auto;
    height: auto !important;
  }
  .product-row .product {
    border: none;
    width: 100%;
    display: block;
    margin: 8px auto;
    min-width: 226px !important;
  }
  .product-row .product img {
    width: 100%;
  }
}
.product-row {
  background: transparent;
}